# TUPLES

In [2]:
# What are Tuples?
    # --> Tuple is collection of immutable heterogeneous python objects
        # ==>   x = [1, 89, A, Hey, 0, B] 
        #            |   |  |    |  |  |
        # ==> index: 0,  1, 2,   3, 4, 5
    # --> Once the Tuples are initialize, after the values cannot be change, its immutable

# Creating Tuples

In [6]:
# Empty Tuples
emp = ()
type(emp)
print(emp)

()

In [8]:
city = ("Pune", "Bangalore", "Chennai", "Delhi", "Kochi")
print(city)
print(type(city))

('Pune', 'Bangalore', 'Chennai', 'Delhi', 'Kochi')
<class 'tuple'>

In [9]:
city[1]

'Bangalore'

In [10]:
# accessing element from end of the Tuple
city[-1]

'Kochi'

# Concatination

In [13]:
print(city)
num = (1,2,3,5,4,6,7,8,9,10,11,414141)

print(city+num)

('Pune', 'Bangalore', 'Chennai', 'Delhi', 'Kochi')
('Pune', 'Bangalore', 'Chennai', 'Delhi', 'Kochi', 1, 2, 3, 5, 4, 6, 7, 8, 9, 10, 11, 414141)

# Nesting

In [15]:
# one tuple inside another tuple
nest = (city, num)
print(nest)

(('Pune', 'Bangalore', 'Chennai', 'Delhi', 'Kochi'), (1, 2, 3, 5, 4, 6, 7, 8, 9, 10, 11, 414141))

# Repeate

In [17]:
rep = ("Python", )*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [20]:
rep = ("Basics",)
print(rep)

print(rep*10)

('Basics',)
('Basics', 'Basics', 'Basics', 'Basics', 'Basics', 'Basics', 'Basics', 'Basics', 'Basics', 'Basics')

# Slicing

In [23]:
print(num)

num[1:]

(1, 2, 3, 5, 4, 6, 7, 8, 9, 10, 11, 414141)

(2, 3, 5, 4, 6, 7, 8, 9, 10, 11, 414141)

In [24]:
# Reverse
num[::-1]

(414141, 11, 10, 9, 8, 7, 6, 4, 5, 3, 2, 1)

# Unpacking

In [26]:
tuple("Simplilearn")

('S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n')

In [29]:
# tuple values set to the variables
print(num)
a,b,c,d,e,f,g,h,i,j,k,l = num

(1, 2, 3, 5, 4, 6, 7, 8, 9, 10, 11, 414141)

In [38]:
# if don't know how many elements in tuples, 
    # --> *b = list[]
print(num)
print(type(num))
a, *b, c = num
print(a, b, c)
type(a)
type(c)
type(b)

(1, 2, 3, 5, 4, 6, 7, 8, 9, 10, 11, 414141)
<class 'tuple'>
1 [2, 3, 5, 4, 6, 7, 8, 9, 10, 11] 414141

list

# Deleting a Tuple

In [42]:
tuple1 = (1,2,3,4,5)
print(tuple1)

(1, 2, 3, 4, 5)

In [43]:
del(tuple1)

In [44]:
print(tuple1)

NameError: name 'tuple1' is not defined

 # Built-in Functions

In [47]:
num1 = (2,3,4,6,7,0,8,6,4,23,1,23,3,2,3,4,6,5,7,8)
print(num1)

(2, 3, 4, 6, 7, 0, 8, 6, 4, 23, 1, 23, 3, 2, 3, 4, 6, 5, 7, 8)

In [50]:
# how many 4's in the tuple
num1.count(4)

3

In [51]:
# Sum
sum(num1)

125

In [52]:
len(num1)

20

In [54]:
min(num1)

0

In [55]:
max(num1)

23

# Converting list to Tuple

In [58]:
lst = [1,2,3,4,5,6,7,8,9]
print(type(lst))
tpl = tuple(lst)
print(tpl)
print(type(tpl))

<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

# Nesting Tuples in a list

In [63]:
lst = [(1,2,3,4), (5,6,7,8,9)]
print(lst)

[(1, 2, 3, 4), (5, 6, 7, 8, 9)]

In [64]:
# append new tuple inside to the list lst
lst.append(("Tuple", "Inside", "List"))
print(lst)

[(1, 2, 3, 4), (5, 6, 7, 8, 9), ('Tuple', 'Inside', 'List')]

In [65]:
# remove tuples from the list lst
lst.remove((5,6,7,8,9))
print(lst)

[(1, 2, 3, 4), ('Tuple', 'Inside', 'List')]

# Nesting Lists within Tuples

In [67]:
tpl = ([1,2,3,4],['a','b','c'],["as","ewr"])
print(tpl)

([1, 2, 3, 4], ['a', 'b', 'c'], ['as', 'ewr'])

In [69]:
# append inside the tuple list
tpl[0].append(10)
print(tpl)
tpl[2].append("zzz")
print(tpl)

([1, 2, 3, 4, 10, 10], ['a', 'b', 'c'], ['as', 'ewr'])
([1, 2, 3, 4, 10, 10], ['a', 'b', 'c'], ['as', 'ewr', 'zzz'])

In [70]:
# remove
tpl[0].remove(10)
print(tpl)

([1, 2, 3, 4, 10], ['a', 'b', 'c'], ['as', 'ewr', 'zzz'])